.filter {
  text-align: center; }

.filter__label {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden; }

.filter__field {
  border: 1px solid #8c8c8c;
  font: inherit;
  font-size: 30px;
  padding: 5px 10px; }
