.app {
  min-height: 100vh;
  background: #e4e5e6;
}
.app__header {
  padding: 50px 20px 30px;

}
.app__title {
  margin: 0;
  text-align: center;
}
.app__main {}
.app__content {}
.app__filters {
  border: 1px solid rgba(#000, .3);
  border-width: 1px 0;
  margin-bottom: 30px;
  padding: 30px;
}
.app__characters {}